.state {
        fill: #00187F;
        stroke: #124559;
        stroke-width: .3;
/*        position: absolute;*/
    }
    .c0 {
        fill: #ffffcc;
    }
    .c1 {
        fill: #ffeda0;
    }
    .c2 {
        fill: #fed976;
    }
    .c3 {
        fill: #feb24c;
    }
    .c4 {
        fill: #fd8d3c;
    }
    .c5 {
        fill: #fc4e2a;
    }
    .c6 {
        fill: #e31a1c;
    }
    .c7 {
        fill: #b10026;
    }

.chart {
/*    position: absolute;*/
}

.bar {
  fill: #00187F;
}




.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.tooltip {
    position: relative;
    padding-left: 250px;
}

#F037:hover {
    fill: #b10026;
}

svg {
    float:left;
}